#form{
    border-bottom: 1px solid #a6abaf;
    box-sizing: border-box;
    color: #000000;
    display: block;
    font: 800 16px/1 'Open Sans', sans-serif;
    padding-top: 1px;
    margin: 50;
    text-align: center;
    text-shadow: 10 -1px 0 rgba(0,0,0,0.2), 0 1px 0 #fff;
}


.login{

    border-bottom: 1px solid #a6abaf;
    box-sizing: border-box;
    color: #000000;
    display: block;
    font: 800 16px/1 'Open Sans', sans-serif;
    padding-top: 1px;
    margin: 50;
    text-align: center;
    text-shadow: 10 -1px 0 rgba(0,0,0,0.2), 0 1px 0 #fff;
}

.useraccount{
    background: #abfadd;
    border: 1px solid #98244b;
    color: #727698;
    padding-left: 500px;
    border-bottom: 10px solid #a6abdf;
    border-radius: 60px 60px 0 0;
    box-sizing: border-box;

}


.label {
    font-weight: bold;
    padding: 1ex;
}

.label::after {
    content: ":"
}

.error {
    color: red;
}

.title {
    font-style: italic;
    color: gray;
}


